<a href="https://colab.research.google.com/github/MeRitisha/EXCELR-assignments/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/content/Reviews.csv')
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1.0,1.0,5.0,1.303862e+09,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0.0,0.0,1.0,1.346976e+09,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1.0,1.0,4.0,1.219018e+09,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3.0,3.0,2.0,1.307923e+09,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0.0,0.0,5.0,1.350778e+09,Great taffy,Great taffy at a great price. There was a wid...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257897 entries, 0 to 257896
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      257897 non-null  int64
 1   ProductId               257897 non-null  object
 2   UserId                  257897 non-null  object
 3   ProfileName             257883 non-null  object
 4   HelpfulnessNumerator    257896 non-null  float64
 5   HelpfulnessDenominator  257896 non-null  float64
 6   Score                   257896 non-null  float64
 7   Time                    257896 non-null  float64
 8   Summary                 257886 non-null  object
 9   Text                    257896 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 19.7+ MB

In [ ]:
df.Summary.head()

0    Good Quality Dog Food
1        Not as Advertised
2    "Delight" says it all
3           Cough Medicine
4              Great taffy
Name: Summary, dtype: object

In [ ]:
df.Text.head()

0    I have bought several of the Vitality canned d...
1    Product arrived labeled as Jumbo Salted Peanut...
2    This is a confection that has been around a fe...
3    If you are looking for the secret ingredient i...
4    Great taffy at a great price.  There was a wid...
Name: Text, dtype: object

In [ ]:
!pip install nltk textblob

Requirement already satisfied: nltk in /usr/local/lib/python3.11/dist-packages (3.9.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.11/dist-packages (0.17.1)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk) (4.67.1)

In [ ]:
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob, Word

# Ensure necessary downloads
nltk.download('stopwords')
nltk.download('wordnet')

# Convert to lowercase, remove punctuation, stopwords, and lemmatize
stop_words = set(stopwords.words('english'))

df['Text'] = (
    df['Text']
    .astype(str)
    .str.lower()
    .str.replace(r'[^\w\s]', '', regex=True)
    .apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))
    .apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

NameError: name 'df' is not defined

In [ ]:
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob, Word
import pandas as pd # Import pandas to work with DataFrames

# Ensure necessary downloads
nltk.download('stopwords')
nltk.download('wordnet')

# Assuming 'Reviews.csv' is in the current directory or provide the correct path
df = pd.read_csv('Reviews.csv') # Load the DataFrame

# Convert to lowercase, remove punctuation, stopwords, and lemmatize
stop_

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

ParserError: Error tokenizing data. C error: EOF inside string starting at row 73048

In [ ]:
reviews = df
reviews.dropna(inplace=True)
reviews.Score.hist(bins=5,grid=False)
plt.show()
print(reviews.groupby('Score').count().Id)

In [ ]:
score_1 = reviews[reviews['Score'] == 1].sample(n=18)
score_2 = reviews [reviews['Score'] == 2].sample(n=18)
score_3 = reviews [reviews['Score'] == 3].sample(n=18)
score_4 = reviews[reviews['Score'] == 4].sample(n=18)
score_5 = reviews[reviews['Score'] == 5].sample(n=18)

In [ ]:
reviews_sample = pd.concat([score_1,score_2,score_3,score_4,score_ 5],axis=0)
reviews_sample.reset_index(drop=True,inplace=True)

In [ ]:
print(reviews_sample.groupby('Score').count().Id)

In [ ]:
from wordcloud import WordCloud
reviews_str = ".join(reviews_sample["Summary"].to_numpy())
#reviews_str = reviews_sample.Summary.str.cat()
wordcloud =
WordCloud(background_color='white').generate(reviews_str)
plt.figure(figsize=(10,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()